@import './toast.scss';

.myProgress {
  width: 100px;
  height: 10px;
  background-color: #7de381;
  display: none;
  z-index: 1000;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: block;
}

.buttonCss {
  z-index: 1;
  background-color: #7de381;
  border-radius: 5px;
  font-size: 18px;
  align-content: center;
  color: #fff;
  position : absolute;
  right: 0;
  top: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  transition: 0.2s all;
  cursor: pointer;
  transform: scale(0.98);
  opacity: 0.5rem;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
